body {
    background-color: #222;
    display: flex;
    flex-direction: column;
}

#header {
    color: white;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 20px;
}

#grid_parent {
    display: grid;
    grid-template-columns: auto;
    column-gap: 20px;
    grid-template-rows: auto auto 20px auto auto;
    margin: auto;
}

.c1 {
    grid-column: 1;
}

.c2 {
    grid-column: 2;
}

.c3 {
    grid-column: 3;
}

#key_label, #mode_label, #cc_label {
    grid-row: 1;
    font-size: 1rem;
    color: white;
}

#key, #mode, #cc {
    grid-row: 2;
}

#modes_label, #scales_label, #chords_label {
    grid-row: 4;
    color: white;
    font-size: 2rem;
    text-decoration-line: underline;
    margin-bottom: 10px;
}

#modeDisplay, #toneDisplay, #chrdDisplay {
    grid-row: 5;
    font-family: monospace;
    font-size: 1.2rem;
    color: white;
    white-space: pre;
}


a {    
    display: flex;
    justify-content: center;
    margin: 15px;
    color: yellow;
}

a:visited {
    color: yellow;
}

a:hover {
    color: lightblue;
}
